body {
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    background: url(../img/stype_2/bg.jpg);
}

.chess_box,
.menu_dy,
.menu_we,
.menu_qj {
    display: none
}

.btn_cn,
.btn_us {
    text-decoration: none;
    color: #FFFFFF;
}

.menu_box {
    width: 316px;
    height: 244px;
    padding-top: 160px;
    background: url(../img/init_bg.png);
    margin: 60px auto 0;
}

.menu_box span {
    width: 90px;
    height: 46px;
    text-align: center;
    line-height: 46px;
    background: url(../img/btn_bg.png) center 0 no-repeat;
    display: block;
    margin: 20px 0 10px 20px;
    font: normal 18px/46px "�?�???�?";
    color: #FF8A00;
    cursor: pointer;
}

.menu_box button {
    width: 90px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: url(../img/btn_bg.png) center 0 no-repeat;
    display: block;
    margin: 10px 0 10px 110px;
    font: normal 15px;
    color: #FF8A00;
    cursor: pointer;
}

.menu_init input {
    width: 150px;
    height: 37px;
    text-align: center;
    line-height: 46px;
    display: block;
    margin: -56px 0 10px 120px;
    font: normal 18px/46px "�?�???�?";
    color: #FF8A00;
    cursor: pointer;
}

.menu_box font {
    color: skyblue;
    font-weight: bold;
    font-size: 15px;
}

.menu_box a {
    width: 214px;
    height: 46px;
    text-align: center;
    line-height: 46px;
    background: url(../img/btn_bg.png) center 0 no-repeat;
    display: block;
    margin: 10px 0 10px 45px;
    font: normal 18px/46px "�?�???�?";
    color: #FF8A00;
    cursor: pointer;
}

.menu_box a:hover {
    background: url(../img/btn_bg.png) center -46px no-repeat;
    color: #FFA433;
}

.menu_info {
    background: #463521;
    color: #FFF;
    padding: 5px 10px;
    line-height: 190%;
    text-align: left;
    width: 194px;
    margin: 10px 0 10px 45px;
}

.menu_wer {

    background: #463521;
    color: #FFF;
    padding: 15px 10px;
    line-height: 190%;
    text-align: center;
    width: 194px;
    margin: 60px 0 5px 45px;
}

.menu_wait {

    background: #463521;
    color: #FFF;
    padding: 15px 10px;
    line-height: 190%;
    text-align: center;
    width: 194px;
    margin: 60px 0 5px 45px;
}

.menu_wait font {
    color: white;
    font-weight: normal;
    font-size: 16px;
}

.menu_fh {
    background: url(../img/btn_fh.png);
    width: 14px;
    height: 14px;
    float: right;
    cursor: pointer
}

.bn_box input {
    font: normal 14px/46px "�?�???�?";
    margin: 3px 5px 0;
    padding: 2px;
    width: 100px
}

.login {

    left: 1190px;
    top: 18px;
    position: absolute;

}

.login font {
    color: white;
    font-size: 15px;
}

.show_rival {
    position: absolute;
    left: 1140px;
    top: 280px;
    width: 200px;
    height: 150px;
    background: #463521;
    color: #FFF;
    padding: 15px 10px;
    line-height: 190%;
    font-size: 15px;
    font-weight: bold;
}

.rival_msg {
    position: absolute;
    right: 50px;
    top: 280px;
    width: 200px;
    height: 150px;
    background: #463521;
    color: #FFF;
    padding: 15px 10px;
    line-height: 190%;
    font-size: 15px;
    font-weight: bold;
}

.myself_msg {
    position: absolute;
    right: 50px;
    top: 280px;
    width: 200px;
    height: 150px;
    background: #463521;
    color: #FFF;
    padding: 15px 10px;
    line-height: 190%;
    font-size: 15px;
    font-weight: bold;
}


